* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #7a7a7a;
}

.addCardButton {
  padding: 12px 24px;
  background: #140d0d;
  border: 2px solid #836f76;
  color: rgb(217, 225, 231);
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.addCardButton:hover {
  background: transparent;
  color: #0c0b09;
  transform: scale(1.05) translateX(-50%);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
  width: 100%;
  margin-top: 100px;
}

.card {
  background: hwb(0 85% 13%);
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  position: relative;
  transform: scale(1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
#h3 {
  background-color: #363437;
  margin-top: 15px;
  border-radius: 15px;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  border: none;

}
